<div style="height:300px;" id="demo-get-depts">
    <Button Type="@ButtonType.Primary" OnClick="() => GetCorpDeptsAsync()">获取部门列表</Button>
    <textarea value="@result" />
</div>

@code {

    private string result = string.Empty;


    [Inject]
    public IWeComAdminSvc WeComAdminSvc { get; set; }


    private async Task GetCorpDeptsAsync()
    {
        var model = await WeComAdminSvc.GetCorpDeptAsync();
        result = JsonConvert.SerializeObject(model);
    }
}
