@namespace WeComLoad.Open.Blazor
@inherits LayoutComponentBase

<AntDesign.ProLayout.BasicLayout Logo="@("./resources/images/logo.png")"
                                 MenuData="_menuData">
    <RightContentRender>
        <Space Size="@("24")">
            <SpaceItem>
               <Button Type="@ButtonType.Link" OnClick="SignOut" >退出登录</Button>
            </SpaceItem>
        </Space>

    </RightContentRender>
    <ChildContent>
        @Body
    </ChildContent>
</AntDesign.ProLayout.BasicLayout>

@code
{
    [Inject]
    public IWeComOpenSvc WeComOpenSvc { get; set; }

    [Inject]
    public MessageService MessageService { get; set; }

    [Inject]
    public NavigationManager NavigationManager { get; set; }

    private readonly MenuDataItem[] _menuData =
    {
        new MenuDataItem
        {
            Path = "/",
            Name = "首页",
            Key = "welcome",
            Icon = "smile",
        },
        new MenuDataItem
        {
            Path = "/custapp",
            Name = "代开发自建应用管理",
            Key = "customize-app",
            Icon = "apartment",
        },
        new MenuDataItem
        {
            Path = "/setting",
            Name = "设置",
            Key = "setting",
            Icon = "setting",
            Children = new  MenuDataItem[]
            {
                new MenuDataItem
                {
                    Path = "/setting/custapp",
                    Name = "代开发自建应用配置",
                    Key = "setting.custapp",
                }
            }
        }
    };

    private void SignOut()
    {
        WeComOpenSvc.InitWeComOpen();
        NavigationManager.NavigateTo("/login");
        _ = MessageService.Success("退出登录成功");
    }
}