@namespace WeComLoad.Admin.Blazor
@inherits LayoutComponentBase
@inject IWeComAdminSvc WeComOpenSvc
@inject MessageService MessageService
@inject NavigationManager NavigationManager


<AntDesign.ProLayout.BasicLayout Logo="@("./resources/images/logo.png")"
                                 MenuData="_menuData">
    <RightContentRender>
        <Space Size="@("24")">
            <SpaceItem>
               <Button Type="@ButtonType.Link" OnClick="SignOut" >退出登录</Button>
            </SpaceItem>
        </Space>

    </RightContentRender>
    <ChildContent>
        @Body
    </ChildContent>
</AntDesign.ProLayout.BasicLayout>

@code
{
    private readonly MenuDataItem[] _menuData =
    {
        new MenuDataItem
        {
            Path = "/",
            Name = "首页",
            Key = "welcome",
            Icon = "smile",
        }
    };

    private void SignOut()
    {
        NavigationManager.NavigateTo("/login");
        _ = MessageService.Success("退出登录成功");
    }
}